.App {
  font-family: Arial, sans-serif;
  text-align: center;
  margin-top: 30px;
}

h1 {
  color: #333;
}

h2 {
  color: #555;
}

.chart-container {
  width: 95%;
  height: 650px;
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
}
